<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- NAMESPACE必须和接口的类路径一样 -->
<mapper namespace="com.fjsaas.web.dao.StudentMapper">
    <!-- 所有学生 -->
    <select id="all" resultType="Student"> select r.sn recid, r.* from
        tb_student r
    </select>
</mapper>